@page
@model azure_app_pedro.Pages.DeploymentsSlotsModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        TESTING DEPLOYMENT SLOTS - Welcome To Azure For .NET Developers
    </h1>
    <h3>
        We are jere to learn about the different Microsoft Azure features and .NET Core Development
    </h3>
</div>