@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure .NET Developers</h1>
    <h2>Welcome to App Services - Azure, GITHUB Actions </h2>
</div>
